/* Küçük Ekranlar için (Telefonlar) */
@media (max-width: 600px) {
    .container {
        padding: 0 1rem;
    }
    .big-title {
        font-size: 2rem;
        top: calc(50% - 1rem);
    }
    .title {
        font-size: 1.2rem;
    }
    .text {
        font-size: 0.8rem;
    }
    .collection .content {
        height: 20rem;
        width: 18rem;
    }
    .swiper {
        height: 25rem;
    }
    header, .parallax {
        height: 50vh;
    }
    header img, .parallax {
        width: 100%;
        height: auto;
    }
    nav {
        left: 0;
        font-size: 1.5rem;
    }
    .content .background-image {
        object-fit: contain;
    }
}

/* Orta Ekranlar için (Tabletler) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 0 1.5rem;
    }
    .big-title {
        font-size: 4rem;
        top: calc(50% - 2rem);
    }
    .title {
        font-size: 1.5rem;
    }
    .text {
        font-size: 1rem;
    }
    .collection .content {
        height: 25rem;
        width: 20rem;
    }
    .swiper {
        height: 28rem;
    }
    header, .parallax {
        height: 75vh;
    }
    header img, .parallax {
        width: 100%;
        height: auto;
    }
    nav {
        left: 0;
        font-size: 2rem;
    }
    .content .background-image {
        object-fit: cover;
    }
}
